#Arquivo de teste
arqIgn
arqIgn2
arqIgn2.bak

/node_modules
/packages
.o
.pyc
.idea/workspace.xml




#Arquivo de conexão


*.DataBase
*.Debug
*.obj
*.appsettings.json
*.
*.

#VisualStudio

.vs
.vs/
bin/
obj/
TestResults/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo


# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

#Arquivos de debug-temporários
**/bin
**/obj
**/Debug

#Formato
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc